In [1]:
import pandas as pd

In [2]:
path = 'data/final/'

apart = pd.read_csv(path+'apartment_final.csv')
buy_rent = pd.read_csv(path+'buy_rent_final.csv')
kenya_prop = pd.read_csv(path+'kenya_property.csv')
prop_pro = pd.read_csv(path+'property_pro.csv')
prop_24 = pd.read_csv(path+'property24.csv')
rent_ke = pd.read_csv(path+'rent_ke_final.csv')

In [3]:
apart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2520 entries, 0 to 2519
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Bedrooms   2520 non-null   int64
 1   Bathrooms  2520 non-null   int64
 2   Price      2520 non-null   int64
 3   City       2144 non-null   object
 4   Location   2144 non-null   object
dtypes: int64(3), object(2)
memory usage: 98.6+ KB

In [4]:
kenya_prop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1971 entries, 0 to 1970
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   City       1525 non-null   object
 1   Location   1523 non-null   object
 2   Bedrooms   1883 non-null   object
 3   Bathrooms  1828 non-null   object
 4   Toilets    1705 non-null   object
 5   Parking    1158 non-null   object
 6   Price      1971 non-null   object
dtypes: object(7)
memory usage: 107.9+ KB

In [5]:
kenya_prop.drop(kenya_prop[['Toilets']], axis=1, inplace=True)

In [6]:
kenya_prop.head()

         City             Location Bedrooms Bathrooms Parking    Price
0    Machakos   Syokimau/Mulolongo        4         4     NaN  100,000
1   Westlands                Runda        3         3       2  180,000
2     Nairobi        Spring Valley        5         5       4  380,000
3     Nairobi            Thindigua        3         3     NaN   55,000
4     Nairobi            Westlands        4         4       4  265,000

In [9]:
kenya_prop['Price'] = kenya_prop['Price'].str.replace(',', '')

In [10]:
kenya_prop.head()

         City             Location Bedrooms Bathrooms Parking   Price
0    Machakos   Syokimau/Mulolongo        4         4     NaN  100000
1   Westlands                Runda        3         3       2  180000
2     Nairobi        Spring Valley        5         5       4  380000
3     Nairobi            Thindigua        3         3     NaN   55000
4     Nairobi            Westlands        4         4       4  265000

In [12]:
kenya_prop['Bedrooms'].value_counts()

3         610
2         450
4         315
1         293
5         151
6          35
10          6
8           4
610         2
7           2
92          1
3,561       1
4,047       1
381         1
3,002       1
19          1
1,259       1
103         1
3,000       1
350000      1
2,000       1
100         1
130         1
460         1
3,035       1
Name: Bedrooms, dtype: int64

In [13]:
kenya_prop['Bedrooms'] = kenya_prop['Bedrooms'].str.replace(',', '')

In [14]:
kenya_prop['Bedrooms'] = pd.to_numeric(kenya_prop['Bedrooms'])

In [15]:
kenya_prop['Bathrooms'].value_counts()

2        504
3        460
1        329
4        286
5        149
6         64
7         22
8          6
2,023      2
10         2
9          1
7,800      1
20         1
33         1
Name: Bathrooms, dtype: int64

In [16]:
kenya_prop['Bathrooms'] = kenya_prop['Bathrooms'].str.replace(',', '')
kenya_prop['Bathrooms'] = pd.to_numeric(kenya_prop['Bathrooms'])

In [17]:
kenya_prop['Parking'].value_counts()

2      530
1      230
3      192
4       73
5       30
      ...
110      1
157      1
266      1
98       1
69       1
Name: Parking, Length: 69, dtype: int64

In [19]:
kenya_prop['Parking'] = kenya_prop['Parking'].str.replace(',', '')

In [20]:
kenya_prop['Parking'] = pd.to_numeric(kenya_prop['Parking'])

In [21]:
kenya_prop['Price'] = pd.to_numeric(kenya_prop['Price'])

In [22]:
kenya_prop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1971 entries, 0 to 1970
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   City       1525 non-null   object
 1   Location   1523 non-null   object
 2   Bedrooms   1883 non-null   float64
 3   Bathrooms  1828 non-null   float64
 4   Parking    1158 non-null   float64
 5   Price      1971 non-null   int64
dtypes: float64(3), int64(1), object(2)
memory usage: 92.5+ KB

In [25]:
kenya_prop['Bathrooms'] = kenya_prop['Bathrooms'].astype('Int64')
kenya_prop['Bedrooms'] = kenya_prop['Bedrooms'].astype('Int64')
kenya_prop['Price'] = kenya_prop['Price'].astype('Int64')
kenya_prop['Parking'] = kenya_prop['Parking'].astype('Int64')

In [26]:
kenya_prop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1971 entries, 0 to 1970
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   City       1525 non-null   object
 1   Location   1523 non-null   object
 2   Bedrooms   1883 non-null   Int64
 3   Bathrooms  1828 non-null   Int64
 4   Parking    1158 non-null   Int64
 5   Price      1971 non-null   Int64
dtypes: Int64(4), object(2)
memory usage: 100.2+ KB

In [37]:
def conversion_data(data: pd.DataFrame):
    data['Bedrooms'] = data['Bedrooms'].str.replace(',', '')
    data['Bathrooms'] = data['Bathrooms'].str.replace(',', '')
    data['Parking'] = data['Parking'].str.replace(',', '')
    data['Bedrooms'] = pd.to_numeric(data['Bedrooms'])
    data['Bathrooms'] = pd.to_numeric(data['Bathrooms'])
    data['Parking'] = pd.to_numeric(data['Parking'])
    data['Price'] = pd.to_numeric(data['Price'])

    return data

In [38]:
buy_rent = conversion_data(buy_rent)

AttributeError: Can only use .str accessor with string values!

In [39]:
buy_rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2743 entries, 0 to 2742
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   City       2743 non-null   object
 1   Location   2742 non-null   object
 2   Bedrooms   2738 non-null   float64
 3   Bathrooms  2567 non-null   float64
 4   Parking    2701 non-null   float64
 5   Price      2739 non-null   object
dtypes: float64(3), object(3)
memory usage: 128.7+ KB

In [41]:
buy_rent['Bedrooms'] = buy_rent['Bedrooms'].astype('Int64')
buy_rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2743 entries, 0 to 2742
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   City       2743 non-null   object
 1   Location   2742 non-null   object
 2   Bedrooms   2738 non-null   Int64
 3   Bathrooms  2567 non-null   float64
 4   Parking    2701 non-null   float64
 5   Price      2739 non-null   object
dtypes: Int64(1), float64(2), object(3)
memory usage: 131.4+ KB

In [40]:
prop_24 = conversion_data(prop_24)
prop_24.info()

ValueError: Unable to parse string "Floor Size:

                            1300

                        m²" at position 1074

In [36]:
rent_ke = conversion_data(rent_ke)
rent_ke.info()

AttributeError: Can only use .str accessor with string values!