In [103]:
import pandas as pd

In [104]:
page_1000 = pd.read_csv('property24_1000.csv')

In [105]:
page_1000.shape

(21000, 6)

In [106]:
page_2000 = pd.read_csv('property24_2000.csv')
page_2000.shape

(21000, 6)

In [107]:
page_3000 = pd.read_csv('property24_3000.csv')
page_3000.shape

(21000, 6)

In [108]:
page_4000 = pd.read_csv('property24_4000.csv')
page_4000.shape

(42000, 6)

In [109]:
property24 = page_1000

In [110]:
property24 = pd.concat([page_1000, page_2000], axis=0)
property24.shape

(42000, 6)

In [111]:
property24 = pd.concat([property24, page_4000], axis=0)

In [112]:
property24.shape

(84000, 6)

In [113]:
page_5000 = pd.read_csv('property24_5000.csv')
page_5000.shape

(21000, 6)

In [114]:
property24 = pd.concat([property24, page_5000], axis=0)
property24.shape

(105000, 6)

In [115]:
page_5500 = pd.read_csv('property24_5500.csv')
page_5500.shape

(10500, 6)

In [116]:
page_6000 = pd.read_csv('property24_6000.csv')
page_6000.shape

(10500, 6)

In [117]:
property24 = pd.concat([property24, page_5500], axis=0)
# property24 = pd.concat([property24, page_6000], axis=0)

property24.shape

(115500, 6)

In [118]:
property24.shape

(115500, 6)

In [119]:
page_6500 = pd.read_csv('property24_6500.csv')
page_6500.shape

(21000, 6)

In [120]:
property24 = pd.concat([property24, page_6500], axis=0)

In [121]:
property24.shape

(136500, 6)

In [122]:
page_7000 = pd.read_csv('property24_7000.csv')
page_7000.shape

(10500, 6)

In [1]:
page_8000 = pd.read_csv('property24_8000.csv')
page_8000.shape

(31500, 6)

In [2]:
page_8000.index

RangeIndex(start=0, stop=31500, step=1)

In [6]:
page_8000.loc[300]

Location                                                 Karen
City                                                   Nairobi
Bedrooms                                                     2
Bathrooms                                                    2
Parking      Erf Size:\n\r\n                            0.1...
Price                                               KSh 50 000
Name: 300, dtype: object

In [124]:
property24.shape

(136500, 6)

In [125]:
property24 = pd.concat([property24, page_8000], axis=0)
property24.shape

(168000, 6)

In [126]:
page_9000 = pd.read_csv('property24_9000.csv')
page_9000.shape

(21000, 6)

In [127]:
page_10500 = pd.read_csv('property24_final.csv')
page_10500.shape

(43995, 6)

In [128]:
property24 = pd.concat([property24, page_10500], axis=0)
property24.shape

(211995, 6)

In [129]:
property24.to_csv('data/property24.csv')

In [130]:
property24.head()

,Location,City,Bedrooms,Bathrooms,Parking,Price
0,South B,Nairobi,1,1,NaN,KSh 25 000
1,Karen,Nairobi,3,2,Erf Size:\n\n 0.5\n...,KSh 280 000
2,Rosslyn,Nairobi,2,2,NaN,KSh 170 000
3,Syokimau,Nairobi,2,2,2,KSh 28 000
4,Kileleshwa,Nairobi,3,3,NaN,KSh 150 000